body {

  margin:0;

  background:
    radial-gradient(
      circle at top,
      #1c1c1e,
      #000
    );

  color:white;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "Segoe UI",
    sans-serif;

}
